body {
  font-family: 'Poppins';
}
table {
  text-align: center;
  border-collapse: collapse;
  border-color: #000;
}

th,
td {
  padding: 10px 5px;
  position: relative;
}
thead,
tfoot {
  background-color: #222;
}

thead th,
tfoot th {
  color: #f5f5f5;
}

tbody {
  background-color: hsl(309, 88%, 50%);
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.isResizing {
  background-color: hsl(309, 88%, 50%);
  opacity: 1;
}
